* {

    margin: 0;
    padding: 0;

}

body {
    font-family: Arial, sans-serif;
    background-image: url(https://images.pexels.com/photos/129731/pexels-photo-129731.jpeg?auto=compress&cs=tinysrgb&w=400);
}


.container {
    width: 80%;
    overflow: hidden;
}

header {
    background: #333;
    color: #fff;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
}

header h1 {
    float: left;
}

nav {
    float: right;
}

.nav-item {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
    position: relative;
    font-size: 16px;
    padding: 3px;
}

.nav-item::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #fff;
    position: absolute;
    bottom: -10px;
    left: 0;
    transition: width 0.3s;
}

.nav-item:hover::after {
    width: 100%;
}

#learn-more {
    text-align: center;
}

h2 {
    margin-bottom: 30px;
}

.menu-section {
    margin-bottom: 50px;
}

.menu-section h3 {
    font-size: 24px;
    margin-bottom: 20px;
}

.coffee-list,
.tea-list,
.food-list,
.snack-list {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.coffee-list li,
.tea-list li,
.food-list li,
.snack-list li {
    width: 300px;
    background: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.coffee-info h4,
.tea-info h4,
.food-info h4,
.snack-info h4 {
    color: #333;
    font-size: 20px;
    margin-bottom: 10px;
}

.coffee-info p,
.tea-info p,
.food-info p,
.snack-info p {
    color: #666;
    font-size: 16px;
    margin-bottom: 10px;
}

.coffee-image,
.tea-image,
.food-image,
.snack-image {
    width: 100%;
    margin-top: 20px;
    overflow: hidden;
}

.coffee-img,
.tea-img,
.food-img,
.snack-img {
    width: 100%;
    height: auto;
}

.btn-buy {
    display: inline-block;
    background: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    transition: background 0.3s;
    margin-top: 10px;
}

.btn-buy:hover {
    background: #555;
}

span {

    color: #fff;

}
